<a href="https://colab.research.google.com/github/fisssssssh/Introduction-to-Computers/blob/main/20220525.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("test")

test

In [2]:
sum=0
test=int(input("請輸入一個正整數"))
for n in range(1,test+1):
  sum=sum+n
print("1到",test,'的整數合為',sum)

請輸入一個正整數50
1到 50 的整數合為 1275

In [3]:
sum=0
test=int(input("請輸入一個正整數"))
for n in range(1,test+1):
  sum=sum+n
print("1到",test,'的整數合為',sum)

請輸入一個正整數10
1到 10 的整數合為 55

In [4]:
sum=0
test=int(input("請輸入一個正整數"))
for m in range(1,test+1):
  sum=sum+m
  print("1到",test,"的整數合為",sum)

請輸入一個正整數50
1到 50 的整數合為 1
1到 50 的整數合為 3
1到 50 的整數合為 6
1到 50 的整數合為 10
1到 50 的整數合為 15
1到 50 的整數合為 21
1到 50 的整數合為 28
1到 50 的整數合為 36
1到 50 的整數合為 45
1到 50 的整數合為 55
1到 50 的整數合為 66
1到 50 的整數合為 78
1到 50 的整數合為 91
1到 50 的整數合為 105
1到 50 的整數合為 120
1到 50 的整數合為 136
1到 50 的整數合為 153
1到 50 的整數合為 171
1到 50 的整數合為 190
1到 50 的整數合為 210
1到 50 的整數合為 231
1到 50 的整數合為 253
1到 50 的整數合為 276
1到 50 的整數合為 300
1到 50 的整數合為 325
1到 50 的整數合為 351
1到 50 的整數合為 378
1到 50 的整數合為 406
1到 50 的整數合為 435
1到 50 的整數合為 465
1到 50 的整數合為 496
1到 50 的整數合為 528
1到 50 的整數合為 561
1到 50 的整數合為 595
1到 50 的整數合為 630
1到 50 的整數合為 666
1到 50 的整數合為 703
1到 50 的整數合為 741
1到 50 的整數合為 780
1到 50 的整數合為 820
1到 50 的整數合為 861
1到 50 的整數合為 903
1到 50 的整數合為 946
1到 50 的整數合為 990
1到 50 的整數合為 1035
1到 50 的整數合為 1081
1到 50 的整數合為 1128
1到 50 的整數合為 1176
1到 50 的整數合為 1225
1到 50 的整數合為 1275

In [8]:
for j in range(1,5):
  print(j)
  for i in range(1,3):
   k=i*j
   print(j,"*",i,'=',k)

1
1 * 1 = 1
1 * 2 = 2
2
2 * 1 = 2
2 * 2 = 4
3
3 * 1 = 3
3 * 2 = 6
4
4 * 1 = 4
4 * 2 = 8

In [9]:
for g in range(1,6):
  print(g)
  for k in range(1,3):
   l=g*k
   print(g,"*",i,"=",l)

1
1 * 2 = 1
1 * 2 = 2
2
2 * 2 = 2
2 * 2 = 4
3
3 * 2 = 3
3 * 2 = 6
4
4 * 2 = 4
4 * 2 = 8
5
5 * 2 = 5
5 * 2 = 10

In [5]:
for f in range(1,5):
  if(f==4):
    break
  print(f,end=' ')

1 2 3

In [14]:
count=0
for string in'hello!':
  count+=1
  if string=='o':
    break
  print(string)
print('迴圈結束')
print('迴圈進行了 %d 次' %count)

h
e
l
l
迴圈結束
迴圈進行了 5 次

In [15]:
count=0
for string in'測試看看!':
  count+=1
  if string=='看':
    break
  print(string)
print('迴圈結束')
print('迴圈進行了 %d 次' %count)

測
試
迴圈結束
迴圈進行了 3 次

In [16]:
for i in range(2, 10):
  for j in range(1, 10):
    k=i * j
    print("%d*%d=%2d"%(i,j,k),end="")
  print()

2*1= 22*2= 42*3= 62*4= 82*5=102*6=122*7=142*8=162*9=18
3*1= 33*2= 63*3= 93*4=123*5=153*6=183*7=213*8=243*9=27
4*1= 44*2= 84*3=124*4=164*5=204*6=244*7=284*8=324*9=36
5*1= 55*2=105*3=155*4=205*5=255*6=305*7=355*8=405*9=45
6*1= 66*2=126*3=186*4=246*5=306*6=366*7=426*8=486*9=54
7*1= 77*2=147*3=217*4=287*5=357*6=427*7=497*8=567*9=63
8*1= 88*2=168*3=248*4=328*5=408*6=488*7=568*8=648*9=72
9*1= 99*2=189*3=279*4=369*5=459*6=549*7=639*8=729*9=81

In [19]:
x=int(input("請輸入a的值:"))
y=int(input("請輸入b的值:"))
if x>y:
    c=x
else:
    c=y
m=(x+1)*(y+1)
for k in range(c,m):
    if k%x==0 and k%y==10:
        print(x,'和',y,'的最小公倍數=',k)
        break

請輸入a的值:9
請輸入b的值:15

In [21]:
n=int(input('請輸入正整數:'))
for i in range(1,n+1):
  if i%5==0:
    continue
  print(i,'',end='')

請輸入正整數:12
1 2 3 4 6 7 8 9 11 12

In [20]:
n=int(input('請輸入正整數:'))
for i in range(1,n+1):
  if i%5==0:
    continue
  print(i,'',end='')

請輸入正整數:21
1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21