<a href="https://colab.research.google.com/github/fisssssssh/Introduction-to-Computers/blob/main/20220518.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
h=range(1,10,2)
print(list(h))

[1, 3, 5, 7, 9]

In [ ]:
i=range(10,0,-2)
print(list(i))

[10, 8, 6, 4, 2]

In [ ]:
for n in range(10):
  print(list(i))

[10, 8, 6, 4, 2]
[10, 8, 6, 4, 2]
[10, 8, 6, 4, 2]
[10, 8, 6, 4, 2]
[10, 8, 6, 4, 2]
[10, 8, 6, 4, 2]
[10, 8, 6, 4, 2]
[10, 8, 6, 4, 2]
[10, 8, 6, 4, 2]
[10, 8, 6, 4, 2]

In [ ]:
for n in range(10):
  print(n,end=",")

0,1,2,3,4,5,6,7,8,9,

In [5]:
test=(int(input("請輸入一個正整數")))
for m in range(1,test+1):
   print(m,end=",")

請輸入一個正整數10
1,2,3,4,5,6,7,8,9,10,

In [6]:
test=(int(input("請輸入一個正整數")))
for x in range(1,test+1,2):
   print(x,end=",")

請輸入一個正整數10
1,3,5,7,9,

In [7]:
test=int(input("請輸入一個正整數："))
sum=0
for n in range(test+1):
  sum=sum+n
print("1到",n,"的整數和為",sum)

請輸入一個正整數：10
1到 10 的整數和為 55

In [8]:
test=int(input("請輸入一個正整數："))
sum=0
for n in range(test+1):
  sum=sum+n
  print("1到",n,"的整數和為",sum,"\t", sep ="", end ="")

請輸入一個正整數：10
1到0的整數和為0	1到1的整數和為1	1到2的整數和為3	1到3的整數和為6	1到4的整數和為10	1到5的整數和為15	1到6的整數和為21	1到7的整數和為28	1到8的整數和為36	1到9的整數和為45	1到10的整數和為55